<html>
<head>
<link href="css/cart.css" rel='stylesheet' type='text/css' />
</head>
<body>
<h1><a href="/CartShow">Shopping Cart</a></h1>

<div class="shopping-cart">

    <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
    </div>
    {% for index, product in products %}
        {% include "./displayproduct.html" %}
    {% endfor %}
    {% include "./cartsummary.html" %}

      <button class="checkout"><a href="/Shipping">Checkout</a></button>

</div>
</body>
</html>
