<html>
<head>
<link href="css/cart.css" rel='stylesheet' type='text/css' />
</head>
<body>
<h1>Shopping Cart</h1>

<div class="shopping-cart">

    <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
    </div>
    {% for index, product in products %}
        {% include "./displayproduct.html" %}
    {% endfor %}
    <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">{{basket.total}}</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">{{basket.tax}}</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">{{basket.shipping}}</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">Needs some correction</div>
    </div>
    </div>

      <button class="checkout">Checkout</button>

</div>
</body>
</html>
