{% for product in products %}
    <div class="col_1_of_3 span_1_of_3">
         <div class="view view-first">
              <a href="/ProductShow?pid={{product.id}}">
               <div class="inner_content clearfix">
                <div class="product_image">
                    <img src="{{product.imageSrc}}" class="img-responsive" alt=""/>
                    <div class="product_container">
                       <div class="cart-left">
                         <p class="title">{{product.name}}</p>
                       </div>
                       <div class="price">{{product.price}} {{product.currency}}</div>
                       <div class="clearfix"></div>
                     </div>
                </div>
               </div>
             </a>
           </div>
    </div>
{% endfor %}

