<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Surfhouse Bootstarp Website Template | Single :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<link href="css/component.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfont-->
<link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
<script src="js/jquery.easydropdown.js"></script>
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
        <script>
            $(document).ready(function() {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
            });
        });
        </script>
<!----details-product-slider--->
<!-- Include the Etalage files -->
<link rel="stylesheet" href="css/etalage.css">
    <script src="js/jquery.etalage.min.js"></script>
                <!-- Include the Etalage files -->
    <script>
            jQuery(document).ready(function($){

                $('#etalage').etalage({
                    thumb_image_width: 300,
                    thumb_image_height: 400,

                    show_hint: true,
                    click_callback: function(image_anchor, instance_id){
                        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
                    }
                });
                // This is for the dropdown list example:
                $('.dropdownlist').change(function(){
                    etalage_show( $(this).find('option:selected').attr('class') );
                });

        });
    </script>
    <script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#horizontalTab').easyResponsiveTabs({
                    type: 'default', //Types: default, vertical, accordion
                    width: 'auto', //auto or any width like 600px
                    fit: true   // 100% fit in a container
                });
            });
    </script>
</head>
<body>
    <div class="main">
      <div class="content_box">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="category">
                        <h3 class="menu_head">Menu</h3>
                        <ul class="category_nav">
                            {% for category in categories %}
                                <li>
                                    <a id="category_menu" href="/SearchShow?cgid={{category.id}}">{{category.name}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
              </div>
              <div class="col-md-9">
                <div class="dreamcrub">
                 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="/SearchShow?cgid=root" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="home">&nbsp;
                        <a id="category_menu" href="/SearchShow?cgid={{product.primaryCategoryId}}">{{product.primaryCategoryName}}&nbsp;</a>
                        <span>&gt;</span>&nbsp;
                    </li>
                    <li class="women">
                       {{product.name}}
                    </li>
                </ul>
                <ul class="previous">
                    <li><a href="/CartShow">Take Me to Cart Page</a></li>
                </ul>
                <div class="clearfix"></div>
               </div>
               <div class="singel_right">
                 <div class="labout span_1_of_a1">
                <!-- start product_slider -->
                     <ul id="etalage">
                        {% for index, largeImage in images['large'] %}
                            <li>
                                <img class="etalage_thumb_image" src="{{largeImage}}" class="img-responsive" />
                                <img class="etalage_source_image" src="{{images['small'][index]}}" class="img-responsive" />
                            </li>
                        {% endfor %}
                    </ul>
                    <!-- end product_slider -->
              </div>
              <div class="cont1 span_2_of_a1">
                <h1>{{product.name}}</h1>
                <div class="price_single">
                  <span class="actual">{{product.price}} {{product.currency}}</span>
                </div>
                <h2 class="quick">Quick Overview:</h2>
                <p class="quick_desc"> {{product.shortDescription}}</p>
                <ul class="size" id="variant-size">
                    {% if sizeVariants.length > 0 %}
                        <h3>Size</h3>
                        {% for index, sizeVariant in sizeVariants %}
                            <li><a href="javascript:void(0)" data-pid="{{variants[index]['variantId']}}">{{sizeVariant}}</a></li>
                        {%  endfor %}
                    {% endif %}
                </ul>
                <ul class="size" id="variant-color">
                    {% if colorVariants.length > 0 %}
                        <h3>Color</h3>
                        {% for index in colorVariants %}
                            <li><a href="#">{{index}}</a></li>
                        {%  endfor %}
                    {% endif %}
                </ul>
                <ul class="product-qty">
                   <span>Quantity:</span>
                   <select>
                     <option>1</option>
                     <option>2</option>
                     <option>3</option>
                     <option>4</option>
                     <option>5</option>
                     <option>6</option>
                   </select>
                </ul>
                <div class="btn_form">
                   <form>
                     <input type="submit" id="addToCart" value="Add to Cart" title="">
                  </form>
                </div>
            </div>
            <div class="clearfix"></div>
           </div>
           <div class="sap_tabs">
                     <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
                          <ul class="resp-tabs-list">
                              <li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>Product Description</span></li>
                              <div class="clear"></div>
                          </ul>
                            <div class="resp-tabs-container">
                                <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
                                    <div class="facts">
                                      <ul class="tab_list">
                                        <li><a href="#">{{product.longDescription}}</a></li>
                                      </ul>
                                    </div>
                                 </div>
                             </div>
                          </div>
                     </div>
            </div>
         </div>
        </div>
        </div>
        <div class="footer">
            <div class="container">
                <div class="footer-grid">
                    <h3>Category</h3>
                    <ul class="list1">
                      <li><a href="#">Home</a></li>
                      <li><a href="#">About us</a></li>
                      <li><a href="#">Eshop</a></li>
                      <li><a href="#">Features</a></li>
                      <li><a href="#">New Collections</a></li>
                      <li><a href="#">Blog</a></li>
                      <li><a href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Account</h3>
                    <ul class="list1">
                      <li><a href="#">Your Account</a></li>
                      <li><a href="#">Personal information</a></li>
                      <li><a href="#">Addresses</a></li>
                      <li><a href="#">Discount</a></li>
                      <li><a href="#">Orders history</a></li>
                      <li><a href="#">Addresses</a></li>
                      <li><a href="#">Search Terms</a></li>
                    </ul>
                </div>
                <div class="footer-grid">
                    <h3>Our Support</h3>
                    <ul class="list1">
                      <li><a href="#">Site Map</a></li>
                      <li><a href="#">Search Terms</a></li>
                      <li><a href="#">Advanced Search</a></li>
                      <li><a href="#">Mobile</a></li>
                      <li><a href="#">Contact Us</a></li>
                      <li><a href="#">Mobile</a></li>
                      <li><a href="#">Addresses</a></li>
                    </ul>
                  </div>
                  <div class="footer-grid">
                    <h3>Newsletter</h3>
                    <p class="footer_desc">Nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
                    <div class="search_footer">
                      <input type="text" class="text" value="Insert Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Insert Email';}">
                      <input type="submit" value="Submit">
                    </div>
                    <img src="images/payment.png" class="img-responsive" alt=""/>
                 </div>
                 <div class="footer-grid footer-grid_last">
                    <h3>About Us</h3>
                    <p class="footer_desc">Diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,.</p>
                    <p class="f_text">Phone:  &nbsp;&nbsp;&nbsp;00-250-2131</p>
                    <p class="email">Email: &nbsp;&nbsp;&nbsp;<span>info(at)Surfhouse.com</span></p>
                 </div>
                 <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="copy">
                   <p>&copy; 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
                </div>
            </div>
        </div>
</body>
</html>
